*.class

# Package Files #
*.jar
*.war
*.ear
matrix-service-api\.settings
matrix-service-consumer\.settings
matrix-service-provider\.settings

matrix-service-api\.project
matrix-service-consumer\.project
matrix-service-provider\.project


matrix-service-api\.classpath
matrix-service-consumer\.classpath
matrix-service-provider\.classpath

matrix-service-api\target
matrix-service-consumer\target
matrix-service-provider\target


matrix-service-api/.project
matrix-service-consumer/.project
matrix-service-provider/.project

.project
.settings
.classpath
target
/node_modules

# logs #
logs

# idea # 
.idea
matrix-service-api\.idea
matrix-service-api/.idea
*.iml
/bin/*

matrix-service-consumer/matrix-service-consumer.iml
matrix-service-api/matrix-service-api.iml
matrix-service-provider/matrix-service-api.iml


Servers
.metadata

matrix-service-consumer/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
matrix-service-api/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
matrix-service-provider/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
