<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
	<property name="log_home" value="/data/Idubbo/logs/idubbo" />
<!--
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

-->
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_home}/info/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_home}/info/info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="errorRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${log_home}/error/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_home}/error/error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 将日志发送到日志服务器   -->
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
	        <syslogHost>192.168.111.82</syslogHost>
	        <port>12345</port>
	        <facility>LOCAL4</facility>
	        <suffixPattern>[%thread] %-5level %logger - %msg%n</suffixPattern>
	</appender> 

	<!-- root -->
	<root level="DEBUG">
	<!--	<appender-ref ref="console" /> -->
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="rollingFile" /> 
		<appender-ref ref="errorRollingFile"/> 
	</root>

	<!-- project default level -->
	<logger name="com.ishidai" level="DEBUG" />
	<!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
	<logger name="org.apache" level="DEBUG" />
	<logger name="com.alibaba.dubbo" level="ERROR" />
	<logger name="org.apache.activemq" level="ERROR" />
	<logger name="org.apache.zookeeper" level="ERROR" />
	<logger name="org.springframework" level="DEBUG" />
	<logger name="org.mybatis.spring" level="DEBUG" />
	
</configuration>
